<html>
    <body>
        <h1>Students studying </h1>
        <br>

        <table rules="all">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>GPA</th>
        </tr>
        <form action='/showStudent' method="POST" >
        <% students.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.gpa %></td>
        </tr>
        <% }) %>
    </form>
    </table>
    <br>
    <a href="/">Home</a>
    </body>
</html>